.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: $primary-color;
  font-size: 20px;
  font-weight: bold;
  box-shadow: $inputs-color 0px -1px 6px;
  background-color: $inputs-color;

  .footer_text {
    padding: 20px;
  }
}
