.page_container {
  background-color: $background-color;
  height: 100vh;
  font-family: $primary-font;

  .page_header {
    margin: 0;
    padding: 20px;
    box-shadow: $primary-color 0px 1px 4px;
    color: $primary-color;
    font-size: 40px;
    font-weight: bold;
  }
}
